body {
    background: #111;
    color: darkgrey;
    line-height: 1.5rem;
}
a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
a:hover { text-decoration: underline }
hr {
    border: none;
    border-bottom: 1px solid #777;
}
